@import url('https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4');

@keyframes custom-bounce {
  0%, 100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.custom-bounce {
  animation: custom-bounce 6s infinite;
}

@keyframes custom-bounce-icon {
  0%, 100% {
    transform: translateY(-30%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.custom-bounce-icon {
  animation: custom-bounce 6s infinite;
}

